.portfolio__container {
    width: 100vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__border {
    height: 95%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
}

.portfolio__header {
    margin-top: 10px;
    font-size: 40px;
}

.portfolio__item_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio__item {
    width: 250px;
    margin: 10px 20px;
    background-color: rgb(173, 204, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    
}

.portfolio__item_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.portfolio__item_title {
    font-size: 18px;
    height: 30px;
}